.myclass{
  color: tomato;
  background-color: yellowgreen;
}
.nav-item .active{
  font-weight: bold;
  border-bottom: 2px solid crimson;
  color: red !important;
}
.list-back{
  background-image: url("/public/bg.jpg");
  background-size: cover;
}